<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"  type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="search">
            <form action="/" class="form" method="post">
            <input type="text" name="city"  id="search" placeholder="Search City">
           <div  id="btn" type="submit" class="searchicon"><input type="submit" value="Go"></div>
              
        </form>
          </div>
        <div class="weathericon" id="weathericon" >
            <i class="fa-solid fa-sun"></i>
        </div>

<div class="info">
   <h2 class="location">
    <i class="fa-solid fa-street-view"></i><%=title%>, <%=count%>
   </h2>
   <p class="date" id="date">
    THU | OCT 23 | 10:50:00 AM
   </p>
   <%if(weather !== null){%>

   <h1 class="temp"><%=weather%>°C</h1>
  
   <%}%>
   
   <h3 class="minmax">MIN <%=tempmin%>°C | MAX <%=tempmax%>°C</h3>
   <%if(error !== null){%>
  
    <p><%=error%></p>
    <%}%>
</div>
       

<input type="hidden" id="tempstatus" value="<%=tempstatus%>">

</div>
<script type="text/ejs" src="index.js"></script>
    
    <script>
        let btn = document.getElementById("btn");
    btn.addEventListener("click",addSearch);
    function addSearch(e){
        let curbtn = e.currentTarget;
        let curInp = curbtn.previousElementSibling;
        var svalue = curInp.value;
        
        module.exports = svalue;
    }
    // curr stae and time
    var date = new Date();
    var day = date.getDay();
    var month = date.getMonth();
    const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    var days =  weekday[day];
    var mons = months[month];
    var datess = date.getDate();
    
    // clock
    
    function updateClock() {
        let h = new Date().getHours();
        let m = new Date().getMinutes();
        let s = new Date().getSeconds();
        let ampm1 = "AM";
        if (h > 12) {
          h = h - 12;
          ampm1 = "PM";
        }
        h = h < 10 ? "0" + h : h;
        m = m < 10 ? "0" + m : m;
        s = s < 10 ? "0" + s : s;
        
        return ` ${h} : ${m} : ${s}`;
        setTimeout(() => {
          updateClock();
        }, 100);
      }
      updateClock();
    
     var curdate = document.getElementById("date");
     curdate.innerHTML = ` ${days} | ${mons} ${datess} | ${updateClock()} `
    
    //   search

   
  
    
    
  window.onload = function() {
    if(tempstatus) {
        const tempstatus = document.getElementById("tempstatus").value;
        if(tempstatus == "Clear"){
          document.getElementById("weathericon").innerHTML = "<i class='fa-solid fa-sun'></i>"
        }
        else if(tempstatus == "Clouds"){
          document.getElementById("weathericon").innerHTML = "<i class='fa-solid fa-cloud' style='color:#20DDF2;'></i>"
        }
        else if(tempstatus == "Haze"){
          document.getElementById("weathericon").innerHTML = "<i class='fa-solid fa-sun-haze style = 'color:#eccc68;'></i>"
        }
        else if(tempstatus == "Rainy"){
          document.getElementById("weathericon").innerHTML = "<i class='fa-solid fa-cloud-rain ' style='color:#a4b0be'></i>"
        }
    }
  }






        </script>
         
</body>
</html>